

<!-- 
<div class="container p-5">
  <div class="row align-items-start">
    <div class="col p-5">
      <p class="col-sm-3 col-form-label text-center">FORMULARIO</p>
      <form [formGroup]="form1" (ngSubmit)="crearPersona()">
        <div class="mb-3 row">
          <div class="col-sm-9">
            <div class="input-group mb-1">
              <input
                class="form-control"
                type="text"
                placeholder="IdPersona"
                formControlName="IdPersona"
              />
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-9">
            <div class="input-group mb-1">
              <input
                class="form-control"
                type="text"
                placeholder="Documento"
                formControlName="Documento"
              />
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-9">
            <div class="input-group mb-1">
              <input
                class="form-control"
                type="text"
                placeholder="Nombres"
                formControlName="Nombres"
              />
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-9">
            <div class="input-group mb-1">
              <input
                class="form-control"
                type="text"
                placeholder="Apellidos"
                formControlName="Apellidos"
              />
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-9">
            <div class="input-group mb-1">
              <input
                class="form-control"
                type="text"
                placeholder="Telefono"
                formControlName="Telefono"
              />
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-9">
            <div class="input-group mb-1">
              <input
                class="form-control"
                type="text"
                placeholder="Correo"
                formControlName="Correo"
              />
            </div>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-sm-9">
            <div class="input-group mb-1">
              <input
                class="form-control"
                type="text"
                placeholder="Direccion"
                formControlName="Direccion"
              />
            </div>
          </div>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="form1.invalid && formularioEnviado">
          Error en el formulario
        </div>
        <button
          class="btn btn-outline-primary mx-auto"
          type="submit"
          
        >
          Crear
        </button>
      </form>
    </div>
  </div>
  <div class="row align-items-start" *ngIf="data.length > 0">
    <p>Ultimos Post</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">IdPersona</th>
          <th scope="col">Documento</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo</th>
          <th scope="col">Direccion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of data">
          <td>{{ persona.IdPersona }}</td>
          <td>{{ persona.Documento }}</td>
          <td>{{ persona.Nombres }}</td>
          <td>{{ persona.Apellidos }}</td>
          <td>{{ persona.Telefono }}</td>
          <td>{{ persona.Correo }}</td>
          <td>{{ persona.Direccion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="container">
  <div class="mt-10 mb-10 sm:mt-0">
    <div class="md:grid md:grid-cols-2 md:gap-6">
    
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form [formGroup]="form1" (ngSubmit)="crearPersona()">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <label  for="first-name" class="block text-sm font-medium text-gray-700">Nombres</label>
                  <input formControlName="Nombres" type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                
  
                <div class="col-span-6 sm:col-span-3">
                  <label   for="last-name" class="block text-sm font-medium text-gray-700">Apellidos</label>
                  <input formControlName="Apellidos" type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label  for="first-name" class="block text-sm font-medium text-gray-700">IdPersona</label>
                  <input formControlName="IdPersona" type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
  
                <div class="col-span-6 sm:col-span-4">
                  <label for="email-address" class="block text-sm font-medium text-gray-700">Documento</label>
                  <input formControlName="Documento" type="text" name="email-address" id="email-address" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
  
                
  
                <div class="col-span-6">
                  <label for="street-address" class="block text-sm font-medium text-gray-700">Telefono</label>
                  <input formControlName="Telefono" type="text" name="street-address" id="street-address" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
  
                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label for="city" class="block text-sm font-medium text-gray-700">Correo</label>
                  <input formControlName="Correo" type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
  
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="region" class="block text-sm font-medium text-gray-700">Dirección</label>
                  <input formControlName="Direccion" type="text" name="region" id="region" autocomplete="address-level1" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
  
               
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- tabla -->
<div class="container">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">IdPersona</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Documento</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombres</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Apellidos</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Telefono</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Correo</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Direccion</th>
                
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let persona of data">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">{{ persona.IdPersona }}</div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">{{ persona.Documento }}</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> {{ persona.Nombres }} </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ persona.Apellidos }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ persona.Telefono }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ persona.Correo }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ persona.Direccion }}</td>
  
                
              </tr>
  
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
